{
  "openapi": "3.1.0",
  "info": {
    "title": "ABDM ABHA API",
    "description": "Ayushman Bharat Digital Mission (ABDM) \u2014 ABHA (Ayushman Bharat Health Account) APIs for enrollment, login, care context linking, and consent management.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://abdm.unimetacare.com",
      "description": "Production"
    },
    {
      "url": "https://abdm.dev.unimetacare.com",
      "description": "Development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Generate JWT token for API access"
    },
    {
      "name": "M1 - Aadhaar Enrollment",
      "description": "Enroll and create ABHA using Aadhaar"
    },
    {
      "name": "M1 - Profile",
      "description": "Fetch profile, download ABHA card, get QR code"
    },
    {
      "name": "M1 - Mobile Login",
      "description": "Login using mobile number OTP"
    },
    {
      "name": "M1 - ABHA Number Login (Aadhaar OTP)",
      "description": "Login with ABHA number verified via Aadhaar OTP"
    },
    {
      "name": "M1 - ABHA Number Login (Mobile OTP)",
      "description": "Login with ABHA number verified via mobile OTP"
    },
    {
      "name": "M1 - Aadhaar Number Login",
      "description": "Login directly with Aadhaar number OTP"
    },
    {
      "name": "M1 - ABHA Address Login (Aadhaar OTP)",
      "description": "Login with ABHA address verified via Aadhaar OTP"
    },
    {
      "name": "M1 - ABHA Address Login (Mobile OTP)",
      "description": "Login with ABHA address verified via mobile OTP"
    },
    {
      "name": "M1 - Search ABHA",
      "description": "Search ABHA accounts by mobile number"
    },
    {
      "name": "M2 - Deep Link",
      "description": "Send deep link SMS to patient"
    },
    {
      "name": "M2 - Link CareContext",
      "description": "Link health records (care contexts) to ABHA"
    },
    {
      "name": "M3 - Consent",
      "description": "Consent request and health record retrieval"
    }
  ],
  "paths": {
    "/api/m1/abha/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate JWT Token",
        "description": "Exchange your API key for a JWT bearer token. This token must be passed as `Authorization: Bearer <token>` in all other API calls.",
        "operationId": "generateToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey"
                ],
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "description": "Your ABDM API key",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT token generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string",
                      "description": "JWT bearer token"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/enroll/send-otp": {
      "post": {
        "tags": [
          "M1 - Aadhaar Enrollment"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the mobile number linked with the provided Aadhaar number. Returns a `txnId` required for the verify step.",
        "operationId": "aadhaarEnrollSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "aadhaarNumber"
                ],
                "properties": {
                  "aadhaarNumber": {
                    "type": "string",
                    "description": "12-digit Aadhaar number",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/enroll/verify-otp": {
      "post": {
        "tags": [
          "M1 - Aadhaar Enrollment"
        ],
        "summary": "Verify OTP",
        "description": "Verify the OTP sent to the Aadhaar-linked mobile. On success returns ABHA profile and session tokens.",
        "operationId": "aadhaarEnrollVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "otpValue",
                  "mobile"
                ],
                "properties": {
                  "txnId": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "otpValue": {
                    "type": "string",
                    "description": "6-digit OTP",
                    "example": "<string>"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "10-digit mobile number",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified. Returns ABHA profile and tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txnId": {
                          "type": "string"
                        },
                        "tokens": {
                          "$ref": "#/components/schemas/AuthTokens"
                        },
                        "ABHAProfile": {
                          "$ref": "#/components/schemas/ABHAProfile"
                        },
                        "isNew": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/enroll/abha-suggestion": {
      "post": {
        "tags": [
          "M1 - Aadhaar Enrollment"
        ],
        "summary": "Get ABHA Address Suggestions",
        "description": "Get suggested ABHA address options for the user to choose from after OTP verification.",
        "operationId": "aadhaarEnrollAbhaSuggestion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId"
                ],
                "properties": {
                  "txnId": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Suggestions fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txnId": {
                          "type": "string"
                        },
                        "abhaAddressList": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/enroll/create/abha-address": {
      "post": {
        "tags": [
          "M1 - Aadhaar Enrollment"
        ],
        "summary": "Create ABHA Address",
        "description": "Create the final ABHA address for the user from the suggested list.",
        "operationId": "aadhaarEnrollCreateAbhaAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "abhaAddress",
                  "preferred"
                ],
                "properties": {
                  "txnId": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "abhaAddress": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "preferred": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ABHA address created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txnId": {
                          "type": "string"
                        },
                        "healthIdNumber": {
                          "type": "string"
                        },
                        "preferredAbhaAddress": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/enroll/email-verification": {
      "post": {
        "tags": [
          "M1 - Aadhaar Enrollment"
        ],
        "summary": "Email Verification",
        "description": "Send email verification link to the user's email address.",
        "operationId": "aadhaarEnrollEmailVerification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "token"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "token": {
                    "type": "string",
                    "description": "ABHA session JWT token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verification sent"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/login/get-profile": {
      "post": {
        "tags": [
          "M1 - Profile"
        ],
        "summary": "Get Profile",
        "description": "Fetch the complete ABHA profile for a user using their session token.",
        "operationId": "getProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "ABHA session JWT token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/FullABHAProfile"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/login/download": {
      "post": {
        "tags": [
          "M1 - Profile"
        ],
        "summary": "Download ABHA Card",
        "description": "Download the ABHA health card as a base64-encoded image/PDF.",
        "operationId": "downloadAbhaCard",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "ABHA session JWT token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ABHA card downloaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string",
                      "description": "Base64 encoded card image/PDF"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/login/qr-code": {
      "post": {
        "tags": [
          "M1 - Profile"
        ],
        "summary": "Get QR Code",
        "description": "Get the ABHA QR code as a base64-encoded image.",
        "operationId": "getQrCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "ABHA session JWT token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string",
                      "description": "Base64 encoded QR code image"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/mobile/login/send-otp": {
      "post": {
        "tags": [
          "M1 - Mobile Login"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the provided mobile number. Returns a `txnId` for the verify step.",
        "operationId": "mobileLoginSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobile"
                ],
                "properties": {
                  "mobile": {
                    "type": "string",
                    "description": "10-digit mobile number",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/mobile/login/verify-otp": {
      "post": {
        "tags": [
          "M1 - Mobile Login"
        ],
        "summary": "Verify OTP",
        "description": "Verify the OTP. On success returns a list of ABHA accounts linked to the mobile number.",
        "operationId": "mobileLoginVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "otp"
                ],
                "properties": {
                  "txnId": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string",
                    "description": "6-digit OTP",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified. Returns accounts list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txnId": {
                          "type": "string"
                        },
                        "authResult": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer",
                          "example": 300
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountSummary"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/mobile/login/verify-user": {
      "post": {
        "tags": [
          "M1 - Mobile Login"
        ],
        "summary": "Verify User (Select Account)",
        "description": "Select a specific ABHA account from the list returned by verify-otp. Returns final session tokens.",
        "operationId": "mobileLoginVerifyUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "abhaNumber",
                  "token"
                ],
                "properties": {
                  "txnId": {
                    "type": "string"
                  },
                  "abhaNumber": {
                    "type": "string",
                    "description": "ABHA number in XX-XXXX-XXXX-XXXX format",
                    "example": "<string>"
                  },
                  "token": {
                    "type": "string",
                    "description": "JWT token from verify-otp step"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User verified. Returns session tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthTokens"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/login/abha-number/send-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Number Login (Aadhaar OTP)"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the Aadhaar-linked mobile for login using ABHA number.",
        "operationId": "abhaNumberAadhaarSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "abhaNumber"
                ],
                "properties": {
                  "abhaNumber": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/login/abha-number/verify-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Number Login (Aadhaar OTP)"
        ],
        "summary": "Verify OTP",
        "description": "Verify the Aadhaar OTP to complete ABHA number login.",
        "operationId": "abhaNumberAadhaarVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "otp"
                ],
                "properties": {
                  "txnId": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string",
                    "description": "6-digit OTP",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/mobile/login/abha-number/send-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Number Login (Mobile OTP)"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the mobile number for login using ABHA number.",
        "operationId": "abhaNumberMobileSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "abhaNumber"
                ],
                "properties": {
                  "abhaNumber": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/mobile/login/abha-number/verify-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Number Login (Mobile OTP)"
        ],
        "summary": "Verify OTP",
        "description": "Verify the mobile OTP to complete ABHA number login.",
        "operationId": "abhaNumberMobileVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "otp"
                ],
                "properties": {
                  "txnId": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string",
                    "description": "6-digit OTP",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified or expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txnId": {
                          "type": "string"
                        },
                        "authResult": {
                          "type": "string"
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountSummary"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar-number/login/send-otp": {
      "post": {
        "tags": [
          "M1 - Aadhaar Number Login"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the Aadhaar-linked mobile number for login using Aadhaar number.",
        "operationId": "aadhaarNumberLoginSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "aadhaarNumber"
                ],
                "properties": {
                  "aadhaarNumber": {
                    "type": "string",
                    "description": "12-digit Aadhaar number",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar-number/login/verify-otp": {
      "post": {
        "tags": [
          "M1 - Aadhaar Number Login"
        ],
        "summary": "Verify OTP",
        "description": "Verify the OTP and login. Returns ABHA accounts linked to the Aadhaar.",
        "operationId": "aadhaarNumberLoginVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "otpValue",
                  "mobile"
                ],
                "properties": {
                  "txnId": {
                    "type": "string"
                  },
                  "otpValue": {
                    "type": "string",
                    "description": "6-digit OTP",
                    "example": "<string>"
                  },
                  "mobile": {
                    "type": "string",
                    "description": "10-digit mobile number",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified. Returns tokens and accounts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txnId": {
                          "type": "string"
                        },
                        "authResult": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "refreshExpiresIn": {
                          "type": "integer"
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountSummary"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/login/abha-address/send-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Address Login (Aadhaar OTP)"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the Aadhaar-linked mobile for login using ABHA address.",
        "operationId": "abhaAddressAadhaarSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "abhaAddress"
                ],
                "properties": {
                  "abhaAddress": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/login/abha-address/verify-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Address Login (Aadhaar OTP)"
        ],
        "summary": "Verify OTP",
        "description": "Verify the Aadhaar OTP to complete ABHA address login. Returns user list and session tokens.",
        "operationId": "abhaAddressAadhaarVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "otpValue",
                  "mobile"
                ],
                "properties": {
                  "txnId": {
                    "type": "string"
                  },
                  "otpValue": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "mobile": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified. Returns users and tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbhaAddressVerifyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/aadhar/login/abha-address/fetch/profile": {
      "post": {
        "tags": [
          "M1 - ABHA Address Login (Aadhaar OTP)",
          "M1 - ABHA Address Login (Mobile OTP)"
        ],
        "summary": "Fetch Profile",
        "description": "Fetch the ABHA address profile using the session token from the verify-otp step.",
        "operationId": "abhaAddressFetchProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "JWT token from verify-otp step"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AbhaAddressProfile"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/mobile/login/abha-address/send-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Address Login (Mobile OTP)"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the mobile number for login using ABHA address.",
        "operationId": "abhaAddressMobileSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "abhaAddress"
                ],
                "properties": {
                  "abhaAddress": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/mobile/login/abha-address/verify-otp": {
      "post": {
        "tags": [
          "M1 - ABHA Address Login (Mobile OTP)"
        ],
        "summary": "Verify OTP",
        "description": "Verify the mobile OTP to complete ABHA address login. Returns user list and session tokens.",
        "operationId": "abhaAddressMobileVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "txnId",
                  "otpValue",
                  "mobile"
                ],
                "properties": {
                  "txnId": {
                    "type": "string"
                  },
                  "otpValue": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "mobile": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified. Returns users and tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbhaAddressVerifyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/search/abha": {
      "post": {
        "tags": [
          "M1 - Search ABHA"
        ],
        "summary": "Search ABHA by Mobile",
        "description": "Search for ABHA accounts linked to a mobile number. Returns a masked list of matching accounts.",
        "operationId": "searchAbha",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mobile"
                ],
                "properties": {
                  "mobile": {
                    "type": "string",
                    "description": "10-digit mobile number",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "txnId": {
                            "type": "string"
                          },
                          "ABHA": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "index": {
                                  "type": "integer"
                                },
                                "ABHANumber": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "gender": {
                                  "type": "string",
                                  "enum": [
                                    "M",
                                    "F",
                                    "O"
                                  ]
                                },
                                "kycVerified": {
                                  "type": "string"
                                },
                                "authMethods": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/search/request/otp": {
      "post": {
        "tags": [
          "M1 - Search ABHA"
        ],
        "summary": "Send OTP",
        "description": "Send OTP to the selected ABHA account's mobile number for verification.",
        "operationId": "searchAbhaSendOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "scope",
                  "loginHint",
                  "otpSystem",
                  "loginId",
                  "txnId"
                ],
                "properties": {
                  "scope": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "abha-login",
                      "abha-enrol"
                    ]
                  },
                  "loginHint": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "otpSystem": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "loginId": {
                    "type": "string",
                    "description": "Index number from search result",
                    "example": "<string>"
                  },
                  "txnId": {
                    "type": "string",
                    "description": "txnId from search step"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OtpSentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m1/abha/search/verify/otp": {
      "post": {
        "tags": [
          "M1 - Search ABHA"
        ],
        "summary": "Verify OTP",
        "description": "Verify the OTP to authenticate the selected ABHA account. Returns session tokens.",
        "operationId": "searchAbhaVerifyOtp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "scope",
                  "txnId",
                  "otp"
                ],
                "properties": {
                  "scope": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "abha-login",
                      "abha-enrol"
                    ]
                  },
                  "txnId": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified. Returns session tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "txnId": {
                          "type": "string"
                        },
                        "authResult": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "refreshExpiresIn": {
                          "type": "integer"
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AccountSummary"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m2/link/deep-link": {
      "post": {
        "tags": [
          "M2 - Deep Link"
        ],
        "summary": "Request Deep Link SMS",
        "description": "Send a deep link SMS to the patient's ABHA-registered mobile to install or open the ABHA app.",
        "operationId": "requestDeepLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "abhaAddress",
                  "hipId",
                  "hipName"
                ],
                "properties": {
                  "abhaAddress": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "hipId": {
                    "type": "string",
                    "description": "HIP facility ID",
                    "example": "<string>"
                  },
                  "hipName": {
                    "type": "string",
                    "description": "Hospital name",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deep link SMS sent successfully"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m2/link/token-generate": {
      "post": {
        "tags": [
          "M2 - Link CareContext"
        ],
        "summary": "Generate Link Token",
        "description": "Generate a link token for a given ABHA address and HIP. This token is required before linking care contexts.",
        "operationId": "generateLinkToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "abhaAddress",
                  "hipId"
                ],
                "properties": {
                  "abhaAddress": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "hipId": {
                    "type": "string",
                    "example": "<string>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link token generated"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "502": {
            "$ref": "#/components/responses/502"
          },
          "503": {
            "$ref": "#/components/responses/503"
          }
        }
      }
    },
    "/api/m2/multiple/link-carecontext": {
      "post": {
        "tags": [
          "M2 - Link CareContext"
        ],
        "summary": "Link CareContext",
        "description": "Link one or more health records (care contexts) to the patient's ABHA. Supports the following `hiType` values: `Prescription`, `OPConsultation`, `DiagnosticReport`, `ImmunizationRecord`, `HealthDocumentRecord`, `DischargeSummary`, `Invoice`, `WellnessRecord`.",
        "operationId": "linkCareContext",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "abhaAddress",
                  "hipId",
                  "hospitalName",
                  "visitDate",
                  "visitId",
                  "careContexts"
                ],
                "properties": {
                  "abhaAddress": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "hipId": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "hospitalName": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "visitDate": {
                    "type": "string",
                    "format": "date",
                    "example": "2026-03-23"
                  },
                  "visitId": {
                    "type": "string",
                    "example": "<string>"
                  },
                  "careContexts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "referenceNumber",
                        "display",
                        "hiType",
                        "bundleData"
                      ],
                      "properties": {
                        "referenceNumber": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "display": {
                          "type": "string",
                          "example": "<string>"
                        },
                        "hiType": {
                          "type": "string",
                          "enum": [
                            "Prescription",
                            "OPConsultation",
                            "DiagnosticReport",
                            "ImmunizationRecord",
                            "HealthDocumentRecord",
                            "DischargeSummary",
                            "Invoice",
                            "WellnessRecord"
                          ],
                          "example": "Prescription"
                        },
                        "bundleData": {
                          "type": "object",
                          "description": "Health record data. Structure varies by hiType.",
                          "properties": {
                            "hospital": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "HFR ID"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                }
                              }
                            },
                            "doctor": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "licNumber": {
                                  "type": "string"
                                },
                                "hpId": {
                                  "type": "string"
                                }
                              }
                            },
                            "documentUrl": {
                              "type": "string",
                              "description": "URL to the document"
                            },
                            "diagnosis": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "diagnosisName": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "confirmed",
                                      "suspected"
                                    ]
                                  },
                                  "icdCode": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "medications": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "drugName": {
                                    "type": "string"
                                  },
                                  "dosage": {
                                    "type": "string"
                                  },
                                  "frequency": {
                                    "type": "string"
                                  },
                                  "duration": {
                                    "type": "string"
                                  },
                                  "instructions": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "vitals": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "complaints": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "complaintName": {
                                    "type": "string"
                                  },
                                  "since": {
                                    "type": "string"
                                  },
                                  "severity": {
                                    "type": "string"
                                  },
                                  "notes": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "procedures": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "procedureName": {
                                    "type": "string"
                                  },
                                  "procedureDate": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "notes": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "results": {
                              "type": "array",
                              "description": "For DiagnosticReport",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  },
                                  "unit": {
                                    "type": "string"
                                  },
                                  "referenceRange": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "immunizations": {
                              "type": "array",
                              "description": "For ImmunizationRecord",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "vaccineName": {
                                    "type": "string"
                                  },
                                  "vaccineId": {
                                    "type": "string"
                                  },
                                  "doseId": {
                                    "type": "string"
                                  },
                                  "administeredDate": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "batchNumber": {
                                    "type": "string"
                                  },
                                  "manufacturer": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "admissionDate": {
                              "type": "string",
                              "format": "date-time",
                              "description": "For DischargeSummary"
                            },
                            "dischargeDate": {
                              "type": "string",
                              "format": "date-time",
                              "description": "For DischargeSummary"
                            },
                            "invoiceNumber": {
                              "type": "string",
                              "description": "For Invoice"
                            },
                            "invoiceDate": {
                              "type": "string",
                              "format": "date",
                              "description": "For Invoice"
                            },
                            "totalAmount": {
                              "type": "number",
                              "description": "For Invoice"
                            },
                            "items": {
                              "type": "array",
                              "description": "For Invoice",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "quantity": {
                                    "type": "number"
                                  },
                                  "unitPrice": {
                                    "type": "number"
                                  },
                                  "amount": {
                                    "type": "number"
                                  }
                                }
                              }
                            },
                            "bodyMeasurements": {
                              "type": "array",
                              "description": "For WellnessRecord",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "number"
                                  },
                                  "unit": {
                                    "type": "string"
                                  },
                                  "snomedCode": {
                                    "type": "string"
                                  },
                                  "recordedAt": {
                                    "type": "string",
                                    "format": "date"
                                  }
                                }
                              }
                            },
                            "documents": {
                              "type": "array",
                              "description": "For HealthDocumentRecord",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "title": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "documentUrl": {
                                    "type": "string"
                                  },
                                  "date": {
                                    "type": "string",
                                    "format": "date"
                                  }
                                }
                              }
                            },
                            "followUp": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "mode": {
                                  "type": "string"
                                },
                                "notes": {
                                  "type": "string"
                                }
                              }
                            },
                            "advice": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "Prescription": {
                  "summary": "Prescription",
                  "value": {
                    "abhaAddress": "<string>",
                    "hipId": "<string>",
                    "hospitalName": "<string>",
                    "visitDate": "2024-01-15",
                    "visitId": "<string>",
                    "careContexts": [
                      {
                        "referenceNumber": "<string>",
                        "display": "Prescription - 15 Jan 2024",
                        "hiType": "Prescription",
                        "bundleData": {
                          "hospital": {
                            "name": "<string>",
                            "id": "<string>",
                            "phone": "<string>",
                            "email": "<string>"
                          },
                          "doctor": {
                            "name": "<string>",
                            "licNumber": "<string>",
                            "hpId": "<string>"
                          },
                          "documentUrl": "<string>",
                          "diagnosis": [
                            {
                              "diagnosisName": "<string>",
                              "status": "confirmed",
                              "icdCode": "<string>"
                            }
                          ],
                          "medications": [
                            {
                              "drugName": "<string>",
                              "dosage": "<string>",
                              "frequency": "<string>",
                              "duration": "<string>",
                              "instructions": "<string>"
                            }
                          ],
                          "labInvestigations": [
                            {
                              "testName": "<string>",
                              "instructions": "<string>"
                            }
                          ],
                          "advice": "<string>"
                        }
                      }
                    ]
                  }
                },
                "OPConsultation": {
                  "summary": "OPConsultation",
                  "value": {
                    "abhaAddress": "<string>",
                    "hipId": "<string>",
                    "hospitalName": "<string>",
                    "visitDate": "2024-01-15",
                    "visitId": "<string>",
                    "careContexts": [
                      {
                        "referenceNumber": "<string>",
                        "display": "OPD Consultation - 15 Jan 2024",
                        "hiType": "OPConsultation",
                        "bundleData": {
                          "hospital": {
                            "name": "<string>",
                            "id": "<string>",
                            "phone": "<string>",
                            "email": "<string>"
                          },
                          "doctor": {
                            "name": "<string>",
                            "licNumber": "<string>",
                            "hpId": "<string>"
                          },
                          "documentUrl": "<string>",
                          "complaints": [
                            {
                              "complaintName": "<string>",
                              "since": "<string>",
                              "severity": "<string>",
                              "notes": "<string>"
                            }
                          ],
                          "diagnosis": [
                            {
                              "diagnosisName": "<string>",
                              "status": "confirmed",
                              "icdCode": "<string>",
                              "since": "<string>",
                              "notes": "<string>"
                            }
                          ],
                          "medications": [
                            {
                              "drugName": "<string>",
                              "dosage": "<string>",
                              "frequency": "<string>",
                              "duration": "<string>",
                              "instructions": "<string>"
                            }
                          ],
                          "procedures": [
                            {
                              "procedureName": "<string>",
                              "procedureDate": "2024-01-15",
                              "notes": "<string>"
                            }
                          ],
                          "vitals": [
                            {
                              "name": "<string>",
                              "value": 0,
                              "unit": "<string>"
                            }
                          ],
                          "followUp": {
                            "date": "2024-02-15",
                            "mode": "<string>",
                            "notes": "<string>"
                          },
                          "advice": "<string>"
                        }
                      }
                    ]
                  }
                },
                "DiagnosticReport": {
                  "summary": "DiagnosticReport",
                  "value": {
                    "abhaAddress": "<string>",
                    "hipId": "<string>",
                    "hospitalName": "<string>",
                    "visitDate": "2024-01-15",
                    "visitId": "<string>",
                    "careContexts": [
                      {
                        "referenceNumber": "<string>",
                        "display": "Diagnostic Report - 15 Jan 2024",
                        "hiType": "DiagnosticReport",
                        "bundleData": {
                          "hospital": {
                            "name": "<string>",
                            "id": "<string>",
                            "phone": "<string>",
                            "email": "<string>"
                          },
                          "doctor": {
                            "name": "<string>",
                            "licNumber": "<string>",
                            "hpId": "<string>"
                          },
                          "documentUrl": "<string>",
                          "reportType": "<string>",
                          "reportName": "<string>",
                          "reportCode": "<string>",
                          "reportDate": "2024-01-15",
                          "status": "final",
                          "specimen": {
                            "collectedDate": "2024-01-15",
                            "type": "<string>"
                          },
                          "results": [
                            {
                              "name": "<string>",
                              "value": "<string>",
                              "unit": "<string>",
                              "referenceRange": "<string>"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "ImmunizationRecord": {
                  "summary": "ImmunizationRecord",
                  "value": {
                    "abhaAddress": "<string>",
                    "hipId": "<string>",
                    "hospitalName": "<string>",
                    "visitDate": "2024-01-15",
                    "visitId": "<string>",
                    "careContexts": [
                      {
                        "referenceNumber": "<string>",
                        "display": "Vaccination - 15 Jan 2024",
                        "hiType": "ImmunizationRecord",
                        "bundleData": {
                          "hospital": {
                            "name": "<string>",
                            "id": "<string>",
                            "phone": "<string>",
                            "email": "<string>"
                          },
                          "doctor": {
                            "name": "<string>",
                            "licNumber": "<string>",
                            "hpId": "<string>"
                          },
                          "documentUrl": "<string>",
                          "immunizations": [
                            {
                              "vaccineName": "<string>",
                              "vaccineId": "<string>",
                              "doseId": "<string>",
                              "administeredDate": "2024-01-15",
                              "batchNumber": "<string>",
                              "manufacturer": "<string>",
                              "scheduleType": "<string>"
                            }
                          ],
                          "nextRecommendations": [
                            {
                              "vaccineName": "<string>",
                              "vaccineId": "<string>",
                              "dueDate": "2024-03-15"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "HealthDocumentRecord": {
                  "summary": "HealthDocumentRecord",
                  "value": {
                    "abhaAddress": "<string>",
                    "hipId": "<string>",
                    "hospitalName": "<string>",
                    "visitDate": "2024-01-15",
                    "visitId": "<string>",
                    "careContexts": [
                      {
                        "referenceNumber": "<string>",
                        "display": "Health Document - 15 Jan 2024",
                        "hiType": "HealthDocumentRecord",
                        "bundleData": {
                          "hospital": {
                            "name": "<string>",
                            "id": "<string>",
                            "phone": "<string>",
                            "email": "<string>"
                          },
                          "doctor": {
                            "name": "<string>",
                            "licNumber": "<string>",
                            "hpId": "<string>"
                          },
                          "documentUrl": "<string>",
                          "documents": [
                            {
                              "title": "<string>",
                              "type": "<string>",
                              "documentUrl": "<string>",
                              "date": "2024-01-15"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "DischargeSummary": {
                  "summary": "DischargeSummary",
                  "value": {
                    "abhaAddress": "<string>",
                    "hipId": "<string>",
                    "hospitalName": "<string>",
                    "visitDate": "2024-01-15",
                    "visitId": "<string>",
                    "careContexts": [
                      {
                        "referenceNumber": "<string>",
                        "display": "Discharge Summary - 15 Jan 2024",
                        "hiType": "DischargeSummary",
                        "bundleData": {
                          "hospital": {
                            "name": "<string>",
                            "id": "<string>",
                            "phone": "<string>",
                            "email": "<string>"
                          },
                          "doctor": {
                            "name": "<string>",
                            "licNumber": "<string>",
                            "hpId": "<string>"
                          },
                          "documentUrl": "<string>",
                          "admissionDate": "2024-01-05T10:00:00Z",
                          "dischargeDate": "2024-01-15T11:00:00Z",
                          "complaints": [
                            {
                              "complaintName": "<string>",
                              "since": "<string>",
                              "severity": "<string>",
                              "notes": "<string>"
                            }
                          ],
                          "diagnosis": [
                            {
                              "diagnosisName": "<string>",
                              "status": "confirmed",
                              "icdCode": "<string>",
                              "notes": "<string>"
                            }
                          ],
                          "procedures": [
                            {
                              "procedureName": "<string>",
                              "procedureDate": "2024-01-05",
                              "notes": "<string>"
                            }
                          ],
                          "medications": [
                            {
                              "drugName": "<string>",
                              "dosage": "<string>",
                              "frequency": "<string>",
                              "duration": "<string>",
                              "instructions": "<string>"
                            }
                          ],
                          "investigations": [
                            {
                              "name": "<string>",
                              "result": "<string>",
                              "value": "<string>",
                              "unit": "<string>"
                            }
                          ],
                          "followUp": {
                            "date": "2024-01-22",
                            "mode": "<string>",
                            "notes": "<string>"
                          }
                        }
                      }
                    ]
                  }
                },
                "Invoice": {
                  "summary": "Invoice",
                  "value": {
                    "abhaAddress": "<string>",
                    "hipId": "<string>",
                    "hospitalName": "<string>",
                    "visitDate": "2024-01-15",
                    "visitId": "<string>",
                    "careContexts": [
                      {
                        "referenceNumber": "<string>",
                        "display": "Hospital Invoice - 15 Jan 2024",
                        "hiType": "Invoice",
                        "bundleData": {
                          "hospital": {
                            "name": "<string>",
                            "id": "<string>",
                            "phone": "<string>",
                            "email": "<string>"
                          },
                          "doctor": {
                            "name": "<string>",
                            "licNumber": "<string>",
                            "hpId": "<string>"
                          },
                          "documentUrl": "<string>",
                          "invoiceType": "<string>",
                          "invoiceNumber": "<string>",
                          "invoiceDate": "2024-01-15",
                          "status": "issued",
                          "items": [
                            {
                              "description": "<string>",
                              "quantity": 1,
                              "unitPrice": 0,
                              "amount": 0
                            }
                          ],
                          "subtotal": 0,
                          "tax": 0,
                          "totalAmount": 0,
                          "currency": "INR"
                        }
                      }
[...]
